.wrapper {
    width: 100%;
    height: 100%;
}
.login-body {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/login-bg.png');
    background-size: cover;
    background-position: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    .cascader #span{
        text-align: center;
    }
  }